body{
    background-color: #37F495;
    margin: 20px;
    padding: 0;
    border: 6px solid #000040
}

#content{
    font-family: futura;
    color: #000040;
}

h1{
    font-family: futura;
    font-size: 80px;
    text-align: center;
    color: #000040;
    padding-top: 50px;
    margin-bottom: -20px;
    
}

h2{
    font-weight: 100;
    font-size: 25px;
    letter-spacing: 4px;
    color: white;
    text-align: center;
}

h3{
    float: left;
    margin-left: 150px;
}

h4{
    float: left;
    margin-left: 80px;
}

h5{ 
    float: left;
    margin-left: 100px;
}
    
h6{
    float: left;
    margin-left: 100px;
    margin-bottom: 20px;

}

hr{
    margin: 30px;
    color: #000040;
    border: 1px solid #000040;
}

#left{
    text-align: left;
    color: white;
}

p{
    clear: left;
    text-align: center;
    color: white;
}

#center{
    text-align: center;
}

#bottom{
    text-align: center;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
}
